.root {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}

.confirmButton {
    -fx-background-color: #1B5E20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.confirmButton:hover {
    -fx-background-color: #388E3C;
}

.confirmButton:pressed {
    -fx-background-color: #4CAF50;
}

.smallBoldLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.bigBoldLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.table-view .column-header-background {
    -fx-background-color: blue;
}